<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}">
    <script rel="script" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script rel="script" src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
    <script rel="script" src="{{ url_for('static',filename='layui/layui.js') }}"></script>

</head>
<body>
<div>
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">
            guardcode论坛</a>
        </li>
        <li><a href="#add_post" data-toggle="tab">发帖</a></li>
        <li><a href="#look_post" data-toggle="tab">看帖</a></li>
        <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle"
               data-toggle="dropdown">Java <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li><a href="#jmeter" tabindex="-1" data-toggle="tab">
                    jmeter</a>
                </li>
                <li><a href="#ejb" tabindex="-1" data-toggle="tab">
                    ejb</a>
                </li>
            </ul>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <p>home</p>
            <div>
                this is {{ username }}`s site
                <h1>this is index page</h1>
                <a href="my_inf.html">infomation</a>
                <a href="/login">登录</a>
            </div>
        </div>
        <div class="tab-pane fade" id="add_post">
            <p>发帖</p>
            <div>
                <form class="layui-form" action="/post_r" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="p_title" lay-verify="p_title" placeholder="请输入标题"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">文本域</label>
                        <div class="layui-input-block">
                            <textarea lay-verify="p_content" name="p_content" placeholder="请输入内容" class="layui-textarea"
                                      id="demo" style="display: none"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
                <script>
                    layui.use(['form', 'layedit', 'layer'], function () {
                        var layedit = layui.layedit;
                        var layer = layui.layer;
                        layedit.set({
                            uploadImage: {
                                url: '/upload_image' //接口url
                                , type: 'post' //默认post
                            }
                        });
                        var index = layedit.build('demo', {
                            height: 300
                        }); //建立编辑器
                        var form = layui.form;
                        form.verify({
                            p_content: function (value) {
                                return index.sync(index);
                            }
                        })
                        //监听提交
                        form.on('submit(formDemo)', function (data) {
                            layer.msg(JSON.stringify(data.field));
                            alert(data)
                            console.log(data)
                            return false;
                        });
                    });
                </script>
            </div>

            {#            <script>#}
            {#                $.ajax({#}
            {#                    url:'/post_h',#}
            {#                    success:function (data) {#}
            {#                        $('#add_post').append(data)#}
            {#                    }#}
            {#                })#}
            {#            </script>#}


        </div>
{#        <div class="tab-pane fade" id="look_post">#}
{#            <p>look_post</p>#}
{#            <div>#}
{#                <ul id="list_posts">#}
{#                    {% for post in post_list %}#}
{#                        <li>#}
{#                            <div class="panel panel-default">#}
{#                                <div class="panel-heading">#}
{#                                    <h3 class="panel-title">#}
{#                                        <a href="">{{ post['p_title'] }}</a>#}
{#                                    </h3>#}
{#                                </div>#}
{#                                <div class="panel-body">#}
{#                                    <div>{{ post['p_content'] }}</div>#}
{#                                    <div>{{ post['p_datetime'] }}</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                    {% endfor %}#}
{##}
{#                </ul>#}
{##}
{#                <ul class="pagination">#}
{#                    <li><a href="#">&laquo;</a></li>#}
{##}
                    {#    {% for page in range(1,pages|add:1) %}#}
{#                    {% for page in range(1,pages) %}#}
{#                        {% if page_num == page %}#}
{#                            <li class="active"><a href="/post_page?page={{ page }}">{{ page }}</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="/post_page?page={{ page }}">{{ page }}</a></li>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    <li><a href="#">&raquo;</a></li>#}
                    {#    <li><a href="#">&laquo;</a></li>#}
                    {#    <li class="active"><a href="#">1</a></li>#}
                    {#    <li class="disabled"><a href="#">2</a></li>#}
                    {#    <li><a href="#">3</a></li>#}
                    {#    <li><a href="#">4</a></li>#}
                    {#    <li><a href="#">5</a></li>#}
                    {#    <li><a href="#">&raquo;</a></li>#}
{#                </ul>#}
{#                <script>#}
{#                    $(document).ready(function () {#}
{##}
{##}
{#                        pages = 0;#}
{#                        $.ajax({#}
{#                            url: '/getCount',#}
{#                            success: function (data) {#}
{#                                pages = data[pages]#}
{#                                alert(pages)#}
{#                            }#}
{#                        })#}
{#                        $.ajax({#}
{#                            url: '/get'#}
{#                        })#}
{##}
{#                        function init(page_num) {#}
{#                            alert(page_num)#}
{#                            getData(page_num)#}
{#                        }#}
{##}
{#                        init({{ page_num }})#}
{#                    })#}
{#                </script>#}
{#            </div>#}
{#        </div>#}
        <div class="tab-pane fade" id="jmeter">
            <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
        </div>
        <div class="tab-pane fade" id="ejb">
            <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
            </p>
        </div>
    </div>
    <script>
        $(function () {
            $('#myTab li:eq(1) a').tab('show');
        });
    </script>
</div>
</body>
</html>